@media (min-width: 960px) {
  .container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: center;
        align-items: center;
        text-align: center; */
    justify-items: center;
  }
}

img {
  display: inline-block;
  height: 20em;
  width: 25em;
  margin: 0.5em;
}

.container-fluid {
  margin-top: 1em;
  margin-bottom: 1em;
}
